body{
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
}


.fundo{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#0D2B58, #67008B);
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo{
    display: block;
    position: absolute;
    width: 250px;
    height: 120px;
    /* border: 5px solid red; */
}

img{
    position: absolute;
    top: -20px;
    width: 250px;
    height: auto;
    object-fit: contain;
}

.allmovies {
    width: 1000px;
    height: 500px;
    border: 5px solid red;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    bottom: 0;
    margin: auto;

    overflow-y: scroll;

}


.allmovies::-webkit-scrollbar {
    display: none;
}

.individualmovie{
    width: 210px;
    height:310px;
    position: relative;
    display: inline-block;
    margin: 10px 12px;
    border: 5px solid red;
    color: white;
}

.individualmovie h1{
    left: 5px;
    position: absolute;
    top: 45%;
}

.individualmovie h2{
    left: 5px;
    position: absolute;
    top: 60%;
}

.individualmovie h3{
    left: 5px;
    position: absolute;
    top: 70%;
}

.Pesquisa{
    width: 160px;

    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    right: 50px;
}

.filmepesquisa{
    visibility: hidden;
    width: 1000px;
    height: 500px;
    border: 5px solid red;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    bottom: 0;
    margin: auto;
    background-color: #67008B;
}

.filmepesquisaindividual{
    width: 210px;
    height:310px;
    position: relative;
    display: inline-block;
    margin: 10px 12px;
    border: 5px solid red;
    color: white;
}

.filmepesquisaindividual h1{
    left: 5px;
    position: absolute;
    top: 45%;
}

.filmepesquisaindividual h2{
    left: 5px;
    position: absolute;
    top: 60%;
}

.filmepesquisaindividual h3{
    left: 5px;
    position: absolute;
    top: 70%;
}

.filmepesquisa.show {
    visibility: visible;
}


.click {
    width: 100px;
    height:100px;
    position: absolute;
    display: block;
    margin: 10px 12px;
    border: 5px solid red;
    color: white;
    top: 400px;
    cursor: pointer;
}