body{
    overflow-y: hidden;
}


.fundo{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#0D2B58, #67008B);
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

.mainBtn {
    display: block;
    background: rgba(103, 0, 139, 0.6);
    border: 3px solid #67008B;
    border-radius: 8px;
    color: white;
}

span {
    display: block;
}

input {
    display: block;
    width: 200px;
    height: 30px;
    border: 2px solid #B145D8;
    box-sizing: border-box;
    border-radius: 6px;
    background: none;
}